<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiehaibin.plantshub">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  使用相机  -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_flower_white_100dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.activity.IndexActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity android:name=".view.activity.CameraActivity"
            android:theme="@style/AppTheme.Fullscreen" />
    </application>

</manifest>